# PERSONAL CLEANING DATA

# 1. IMPORT NECESSARY LIBRARY

In [38]:
import pandas as pd
import re

# Sometime you may need to run pip install for more needed usage

# 2. IMPORT DATA

In [39]:
excel_data = pd.read_excel('/home/user/Documents/HOC/PYTHON/Data/DataCleaning/source/Ditry Data Sample.xlsx', sheet_name=None)

In [40]:
df_dirty = excel_data['Dirty 1'].copy()

# 3. INSPECT DATA

Some questions to answer
- Shape: name, number, dtypes of columns
- Values: duplicate, missing, fault (Inconsitent, Typo...)

In [41]:
# Shape
df_dirty.shape

(825, 16)

In [42]:
df_dirty.describe()

       Consumer Total  Corporate Total  Home Office Total
count      445.000000       248.000000         132.000000
mean       879.015600       982.951069        1125.075780
std       9285.318749      7761.266452        6753.344616
min          2.064000         1.167000           3.444000
25%         36.192000        31.066500          35.820000
50%        173.940000       158.252000         150.060000
75%        517.500000       583.518500         530.497500
max     195580.971000    121885.932500       74255.001500

In [43]:
df_dirty.columns

Index(['Segment>>', 'Consumer', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Consumer Total', 'Corporate', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Corporate Total', 'Home Office', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Home Office Total'],
      dtype='object')

In [44]:
df_dirty.dtypes

Segment>>             object
Consumer              object
Unnamed: 2            object
Unnamed: 3            object
Unnamed: 4            object
Consumer Total       float64
Corporate             object
Unnamed: 7            object
Unnamed: 8            object
Unnamed: 9            object
Corporate Total      float64
Home Office           object
Unnamed: 12           object
Unnamed: 13           object
Unnamed: 14           object
Home Office Total    float64
dtype: object

* Using Regex is useful for checking string data

In [45]:
searchTxt = "Unnamed"
count = 1
for x in df_dirty.columns:
    if re.search(searchTxt,x):
        count+=1
print(f"The number of unname column is {count}")

The number of unname column is 10

In [46]:
# There're alot of unnamed columns -> something really wrong with this data
# There're only 3 columns with float64 type return summary data
# other 16 -3 = 13 columns is not useful and 10 columns in it is wrong

In [47]:
df_dirty.head(20)

,Segment>>,Consumer,Unnamed: 2,Unnamed: 3,Unnamed: 4,Consumer Total,Corporate,Unnamed: 7,Unnamed: 8,Unnamed: 9,Corporate Total,Home Office,Unnamed: 12,Unnamed: 13,Unnamed: 14,Home Office Total
0,Ship Mode>>,First Class,Same Day,Second Class,Standard Class,NaN,First Class,Same Day,Second Class,Standard Class,NaN,First Class,Same Day,Second Class,Standard Class,NaN
1,Order ID,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,CA-2011-100293,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,91.056,91.056
3,CA-2011-100706,NaN,NaN,129.44,NaN,129.440,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,CA-2011-100895,NaN,NaN,NaN,605.47,605.470,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,CA-2011-100916,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,788.86,788.860,NaN,NaN,NaN,NaN,NaN
6,CA-2011-101266,NaN,NaN,13.36,NaN,13.360,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,CA-2011-101560,NaN,NaN,NaN,NaN,NaN,NaN,NaN,542.34,NaN,542.340,NaN,NaN,NaN,NaN,NaN
8,CA-2011-101770,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.869,1.869,NaN,NaN,NaN,NaN,NaN
9,CA-2011-102274,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,865.5,865.500,NaN,NaN,NaN,NaN,NaN
10,CA-2011-102673,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1044.44,1044.440,NaN,NaN,NaN,NaN,NaN
11,CA-2011-102988,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4251.92,NaN,4251.920,NaN,NaN,NaN,NaN,NaN
12,CA-2011-103317,NaN,NaN,NaN,NaN,NaN,242.546,NaN,NaN,NaN,242.546,NaN,NaN,NaN,NaN,NaN
13,CA-2011-103366,149.95,NaN,NaN,NaN,149.950,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,CA-2011-103807,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.19,21.190,NaN,NaN,NaN,NaN,NaN
15,CA-2011-103989,NaN,NaN,NaN,NaN,NaN,590.762,NaN,NaN,NaN,590.762,NaN,NaN,NaN,NaN,NaN
16,CA-2011-104283,NaN,NaN,NaN,616.14,616.140,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,CA-2011-106054,NaN,NaN,NaN,NaN,NaN,12.78,NaN,NaN,NaN,12.780,NaN,NaN,NaN,NaN,NaN
18,CA-2011-106810,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,310.88,310.880,NaN,NaN,NaN,NaN,NaN
19,CA-2011-107573,NaN,NaN,NaN,23.472,23.472,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Sub Describe
- This dataset is divided into three parts
1. Consumer
2. Corporate
3. Home Office
-> We need to find out, if any ship mode goes on multiple segment or shipingmode

In [48]:
# <!-- df_checking =  -->
# df_dirty.columns
df_checking = df_dirty[[
        # 'Segment>>', 
        'Consumer', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Consumer Total', 'Corporate', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Corporate Total', 'Home Office', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Home Office Total']]

In [50]:
df_checking.iloc[2].isna().sum()
# There 2 scenarios 
# - If the number of exist value is 2 (or number of na is 13) -> that rows only have one record
# - If it exceed -> there'e more category in it

13

In [51]:
# We need  to keep track of those rows -> save it in a variables
# Varible

record_index =[]
# Checking process

for i in df_checking[1:len(df_checking.index)].index:
    if(df_checking.iloc[i].isna().sum()>=13):
        continue
    # There's problem in this row and we need to track it
    record_index.append(i)

In [52]:
# Checking the number of it
print(len(record_index))

1

In [53]:
#There'e only 1 so let's check that are the content in that row
for i in record_index:
    print(df_checking.loc[i,:])

Consumer               20802.173
Unnamed: 2              8132.409
Unnamed: 3            49724.2545
Unnamed: 4           116922.1345
Consumer Total        195580.971
Corporate              20792.607
Unnamed: 7              9907.308
Unnamed: 8             35243.231
Unnamed: 9            55942.7865
Corporate Total      121885.9325
Home Office             7737.786
Unnamed: 12             2977.456
Unnamed: 13             8791.127
Unnamed: 14           54748.6325
Home Office Total     74255.0015
Name: 824, dtype: object

In [54]:
df_dirty.duplicated().sum()

0

# Conclusion after inspecting dataset

This dataset is transactional dataset which include 3 part
Consumer
Corporate
Home Office Total

And in each part has its particular categories and 1 column to get the total value of that orderId (total of only 1)

Each orderId is about only 1 category
The last rows is the total amount of each column,
with no duplicated row, each row represent unique orderId

# 3. PROCESSING
- Handling missing
- Handling duplicate
- Handling fault
# Steps
- Step 1: subseting three different part 
- Step 2: processing each part with 1 processing section
- Step 3: Unique hanlding if neccesary
- Step 4: Concat its column
- Step 5: Re-check

In [104]:
# Step 1: Subsetting each part

In [56]:
df_dirty.drop(index = (len(df_dirty)-1), inplace=True)

In [57]:
df_dirty_consumer = df_dirty[['Segment>>', 
                              'Consumer', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Consumer Total', 
                            #   'Corporate', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Corporate Total', 
                            #   'Home Office', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Home Office Total'
                            ]].copy()
df_dirty_corporate = df_dirty[['Segment>>', 
                            #   'Consumer', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Consumer Total', 
                              'Corporate', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Corporate Total', 
                            #   'Home Office', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Home Office Total'
                            ]].copy()
df_dirty_home = df_dirty[['Segment>>', 
                            #   'Consumer', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Consumer Total', 
                            #   'Corporate', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Corporate Total', 
                              'Home Office', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14',  'Home Office Total'
                            ]].copy()

In [107]:
# Step 2: Processing
#  Rename the header

In [58]:
df_dirty_consumer.columns = df_dirty_consumer.iloc[0]
df_dirty_consumer.rename(columns={
    "Ship Mode>>": "Order ID"
}, inplace=True)
df_dirty_consumer.drop(index=0,inplace=True)

In [59]:
df_dirty_corporate.columns = df_dirty_corporate.iloc[0]
df_dirty_corporate.rename(columns={
    "Ship Mode>>": "Order ID"
}, inplace=True)
df_dirty_corporate.drop(index=0,inplace=True)

In [60]:
df_dirty_home.columns = df_dirty_home.iloc[0]
df_dirty_home.rename(columns={
    "Ship Mode>>": "Order ID"
}, inplace=True)
df_dirty_home.drop(index=0,inplace=True)

In [108]:
#  Drop unneccesary rows of each df

In [61]:
df_dirty_consumer = df_dirty_consumer.drop(index=df_dirty_consumer.loc[df_dirty_consumer[df_dirty_consumer.columns[-1]].isna()].index).iloc[:,:-1]

In [62]:
df_dirty_corporate = df_dirty_corporate.drop(index=df_dirty_corporate.loc[df_dirty_corporate[df_dirty_corporate.columns[-1]].isna()].index).iloc[:,:-1]

In [63]:
df_dirty_home = df_dirty_home.drop(index=df_dirty_home.loc[df_dirty_home[df_dirty_home.columns[-1]].isna()].index).iloc[:,:-1]

In [109]:
# Melt the structure of the dataframe turn wide to long data

In [64]:
df_dirty_consumer = pd.melt(df_dirty_consumer, id_vars=['Order ID'], value_vars=['First Class', 'Same Day', 'Second Class', 'Standard Class'], var_name='Type',value_name="Total")
df_dirty_corporate = pd.melt(df_dirty_corporate, id_vars=['Order ID'], value_vars=['First Class', 'Same Day', 'Second Class', 'Standard Class'], var_name='Type',value_name="Total")
df_dirty_home = pd.melt(df_dirty_home, id_vars=['Order ID'], value_vars=['First Class', 'Same Day', 'Second Class', 'Standard Class'], var_name='Type',value_name="Total")

In [110]:
# Add segment column to make the dataframe reader

In [65]:
df_dirty_consumer.insert(1, "Segment", "Consumer")
df_dirty_corporate.insert(1, "Segment", "Corperate")
df_dirty_home.insert(1, "Segment", "Home Office")

In [111]:
# Continue to drop the Null value of of each dataframe - which represent to category are not used at the order

In [66]:
df_dirty_consumer.drop(index = df_dirty_consumer.loc[df_dirty_consumer["Total"].isna()].index, inplace=True)

In [67]:
df_dirty_corporate.drop(index = df_dirty_corporate.loc[df_dirty_corporate["Total"].isna()].index, inplace=True)

In [68]:
df_dirty_home.drop(index = df_dirty_home.loc[df_dirty_home["Total"].isna()].index, inplace=True)

In [69]:
# Step 3: Unique processing - no needed
# Step 4: Concat dataframe
df_clean = pd.concat([df_dirty_consumer,df_dirty_corporate, df_dirty_home],ignore_index=True)

In [73]:
# Step 5: Re-check all the category
# Missing, Duplicate, Fault, shape, type

In [80]:
df_clean.head()

         Order ID   Segment         Type    Total
0  CA-2011-103366  Consumer  First Class  149.950
1  CA-2011-109043  Consumer  First Class  243.600
2  CA-2011-113166  Consumer  First Class    9.568
3  CA-2011-124023  Consumer  First Class    8.960
4  CA-2011-130155  Consumer  First Class   34.200

In [81]:
df_clean.dtypes

Order ID     object
Segment      object
Type         object
Total       float64
dtype: object

In [78]:
df_clean['Total']= pd.to_numeric(df_clean['Total'])

In [91]:
df_clean.isna().sum()

Order ID    0
Segment     0
Type        0
Total       0
dtype: int64

In [92]:
df_clean.duplicated().sum()

0

In [103]:
df_clean.query("Segment == 'Home Office'")

           Order ID      Segment            Type     Total
691  CA-2011-132010  Home Office     First Class   389.740
692  CA-2011-136567  Home Office     First Class  2884.370
693  CA-2011-140165  Home Office     First Class   405.456
694  CA-2013-149454  Home Office     First Class    10.440
695  CA-2013-159142  Home Office     First Class   177.780
..              ...          ...             ...       ...
817  US-2014-129224  Home Office  Standard Class     4.608
818  US-2014-132031  Home Office  Standard Class   513.496
819  US-2014-132297  Home Office  Standard Class   598.310
820  US-2014-132675  Home Office  Standard Class   148.160
821  US-2014-156083  Home Office  Standard Class     9.664

[131 rows x 4 columns]

# CONCLUSION
- This dataset is easy to handle, but it's a great start for you on Cleaning data
- What I learn from this personal cleaning project is that
1. You have to divided the cleaning process into different phase 
- Inspecting
- Planning
- "Googling" what library, what tool you need for it
2. Rememer what you need to do in each phase
- Inspecting: check number of rows, column names, datatypes,  null value, duplicate, the format as well as check sample row with head() sample
- Planning: Make your sample structure you will convert your dataframe to, is it needed to be separated, do you need to regex, 
3. Think ahead
- Something you can do upfront will reduce the amount of work you need, like dropping, replace ...
- But, some tasks you need to do it later, because if you don't have that sufficient rows, columns it will be hard for you to process (like the way a seperate the data into 3 parts and process it)
4. Always recheck your result
- I found out that I didn't convert my datatypes so it was a big help to re-check with a the categories

# 4. EXPORTING THE DATA

In [112]:
df_clean.to_excel("/home/user/Documents/HOC/PYTHON/Data/DataCleaning/dataCleaningInPandas/destination/myCleaning101.xlsx", index=False)

# Visualize
## Answer your own question about the data to get used to the syntax of seasborn, ggplot
- What are the statistic of each segment on each Shipping method 
- Compare with pairs
- The relationship between them